---
---

@import "{{ site.theme }}";

body {
  background: #151718;
}

#footer {
  display: flex;
  margin-top: 5em;
  justify-content: center;
}

.logo {
  width: 3em;
  margin: 0 1em;
  display: block;
}
